
body{
    background-image: url('./img/mountains.jpg');
    background-position: center;
    background-size: cover;
}
.bloco_principal{
    max-width: 600px;
    margin: 0 auto 300px;
    background-color: #efefef;
    padding: 20px 30px;
    border-radius: 10px;
    padding-top: 20px;
}
h1{
  text-align:center;
  color: #efefef;
}

